@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;700&display=swap');
@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Kanit', sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}